@charset "UTF-8";

html, body, div, span,
h1, h2, h3, h4, h5, h6, p,
dl, dt, dd, ol, ul, li{
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

footer, header, menu, nav {
  display: block;
}

body {
  line-height: 1;
  color: black;
  background: white;
}

a {
  color: inherit;
  text-decoration: none;
}

ol, ul {
  list-style: none;
}


table {
  border-collapse: collapse;
  border-spacing: 0;
}


textarea:focus, input:focus {
  outline: 0;
}

input {
  border-width: 0;
}

em {
  font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
}

.group:before,
.group:after {
  content: " ";
  display: table;
}

.group:after {
  clear: both;
}

.group {
  zoom: 1; 
}

embed,
img,
object,
video {
  max-width: 100%;
}
sup {
  font-size: 58.3%;
  vertical-align: text-top;
}
sub {
  font-size: 58.3%;
  vertical-align: text-bottom;
}
.no-space-between-inline-blocks {
  letter-spacing: normal;  
  letter-spacing: -0.31em; 
  word-spacing: -0.43em; 
}

.no-space-between-inline-blocks > * {
  letter-spacing: normal;
  word-spacing: normal;
}
.displace {
  left: -5000px;
  position: absolute;
}
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*:after,
*:before {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
html {
  font-size: 16px;
}
body {
  min-width: 1440px;
  color: #2f4959;
  font-family: Montserrat, sans-serif;
  font-size: 20.83333px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0;
  text-decoration: none;
}
body {
  float: none;
  height: auto;
  margin: 0 auto;
  position: relative;
  width: 100%;
}
@media screen and (min-width:769px) {
  

.background {
  min-height: 8000px;
  position: relative;
  z-index: 0;
  background: #e0e0e0 center 0;
  background-position: center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}}
.group-1 {
  height: 1088px;
  position: relative;
  width: 100%;
  z-index: 147;
}
.image {
  left: 0;
  padding: 98px 0 137px;
  position: absolute;
  top: 0;
  width: 100%;
  background: url(images/place_your_image_here_dou_7.png) no-repeat center 0;
  background-position: center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.l-constrained-4 {
  margin: 0 auto;
  padding: 0 57px;
  position: relative;
  width: 1440px;
}
.place-your-logo-here-double-click-to-edit {
  display: block;
  position: relative;
}
.text {
  margin: 90px 75px 0;
  position: relative;
}
.title {
  display: block;
  margin: 0 0 0 4px;
  position: relative;
}
.body-text {
  margin: 44px 0 0;
  width: 369px;
  font-size: 25px;
  font-style: italic;
  line-height: 29.16667px;
  text-transform: uppercase;
}
.button-holder {
  margin: 46px 0 0;
  min-height: 75px;
  position: relative;
  width: 276px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background: #ff705b;
  color: #ffffff;
  font-size: 29.16667px;
  font-weight: 900;
  line-height: 75px;
  text-align: center;
  text-transform: uppercase;
}
.design {
  left: 50%;
  position: absolute;
  top: 0;
  width: 615px;
  margin-left: 105px;
}
.place-your-design-here-double-click-to-edit {
  display: block;
  margin: 0 0 0 92px;
  position: relative;
}
.place-your-design-here-double-click-to-edit-2 {
  display: block;
  margin: 471px 0 0;
}
.toolbar {
  left: 50%;
  position: absolute;
  top: 114px;
  width: 1026px;
  margin-left: -438px;
}
.home {
  float: left;
  margin: 18px 0 0;
  width: 59px;
  font-variant: small-caps;
  font-weight: bold;
}
.about {
  float: left;
  margin: 18px 0 0 41px;
  width: 68px;
  font-variant: small-caps;
  font-weight: bold;
}
.go {
  float: left;
  margin: 18px 0 0 41px;
  width: 105px;
  font-variant: small-caps;
  font-weight: bold;
}
.blog {
  float: left;
  margin: 18px 0 0 41px;
  width: 54px;
  font-variant: small-caps;
  font-weight: bold;
}
.contact {
  float: left;
  margin: 18px 0 0 41px;
  width: 122px;
  font-variant: small-caps;
  font-weight: bold;
}
.button-holder-2 {
  float: right;
  padding: px 14px;
  position: relative;
  width: 126px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background: #7fcbd7;
}
.search {
  display: block;
  left: 40px;
  margin: 0 auto;
  position: relative;
}
.l-constrained {
  margin: 45px auto 0;
  position: relative;
  width: 1440px;
  z-index: 98;
}
.title-2 {
  display: block;
  margin: 0 auto;
}
.subtitle {
  margin: 27px 0 0;
  font-style: italic;
  text-align: center;
  text-transform: uppercase;
}
.design-2 {
  margin: 100px auto 0;
  position: relative;
  text-align: center;
}
.place-your-design-here-double-click-to-edit-3 {
  margin: 9px 0 0;
}
.place-your-design-here-double-click-to-edit-4 {
  margin: 9px 0 0 326px;
}
.place-your-design-here-double-click-to-edit-5 {
  margin: 0 0 0 321px;
}
.design-2 > * {
  display: inline-block;
  vertical-align: top;
}
.row {
  margin: 80px auto 0;
  position: relative;
  width: 1176px;
}
.row > * {
  float: left;
  margin: 0 173.3px 0 0;
}
.row > *:last-child {
  margin-right: 0 !important;
}
.group-2 {
  position: relative;
  width: 277px;
}
.title-3 {
  color: #ff705b;
  font-style: italic;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
}
.body-text-2 {
  margin: 33px 0 0;
  line-height: 29.16667px;
  text-align: center;
}
.group-3 {
  position: relative;
  width: 276px;
}
.title-4 {
  color: #ff705b;
  font-style: italic;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
}
.body-text-3 {
  margin: 33px 0 0;
  line-height: 29.16667px;
  text-align: center;
}
.group-4 {
  position: relative;
  width: 276px;
}
.title-5 {
  color: #ff705b;
  font-style: italic;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
}
.body-text-4 {
  margin: 33px auto 0;
  line-height: 29.16667px;
  text-align: center;
}
.group-3-2 {
  height: 1434px;
  left: 10px;
  margin: 69px auto 0;
  position: relative;
  width: 1420px;
}
.place-your-image-here-double-click-to-edit {
  left: 50%;
  position: absolute;
  top: 0;
  margin-left: -710px;
}
.design-3 {
  left: 50%;
  position: absolute;
  top: 204px;
  width: 928px;
  margin-left: -218px;
}
.place-your-design-here-double-click-to-edit-6 {
  display: block;
  left: 269px;
  margin: 0 auto;
  position: relative;
}
.place-your-design-here-double-click-to-edit-copia {
  display: block;
  margin: 19px 0 0;
  position: relative;
}
.place-your-design-here-double-click-to-edit-copia-2 {
  display: block;
  left: 269px;
  margin: 10px auto 0;
  position: relative;
}
.text-2 {
  left: 50%;
  position: absolute;
  top: 117px;
  width: 992px;
  margin-left: -371px;
}
.title-6 {
  display: block;
  margin: 0 auto;
  position: relative;
  right: 130px;
}
.subtitle-2 {
  margin: 27px 0 0;
  font-style: italic;
  text-transform: uppercase;
}
.row-7 {
  left: 150.5px;
  margin: 125px auto 0;
  position: relative;
  width: 553px;
}
.col-16 {
  float: left;
  position: relative;
  width: 290px;
}
.title-1 {
  margin: 0 auto;
  width: 288px;
  color: #ff705b;
  font-style: italic;
  font-weight: 900;
  text-transform: uppercase;
}
.body-text-1 {
  margin: 33px 0 0;
  width: 276px;
  line-height: 29.16667px;
}
.button-1-holder {
  float: right;
  margin: 58px 0 0;
  min-height: 75px;
  width: 201px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background: #ff705b;
  color: #ffffff;
  font-weight: 900;
  line-height: 75px;
  text-align: center;
  text-transform: uppercase;
}
.row-6 {
  left: 198px;
  margin: 111px auto 0;
  position: relative;
  width: 596px;
}
.button-2-holder {
  float: left;
  margin: 60px 0 0;
  min-height: 75px;
  width: 201px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background: #ff705b;
  color: #ffffff;
  font-weight: 900;
  line-height: 75px;
  text-align: center;
  text-transform: uppercase;
}
.col-15 {
  float: right;
  position: relative;
  width: 290px;
}
.title-2-2 {
  margin: 0 0 0 2px;
  color: #ff705b;
  font-style: italic;
  font-weight: 900;
  text-transform: uppercase;
}
.body-text-2-2 {
  margin: 33px 0 0;
  width: 276px;
  line-height: 29.16667px;
}
.row-5 {
  left: 150.5px;
  margin: 112px auto 0;
  position: relative;
  width: 553px;
}
.col-14 {
  float: left;
  position: relative;
  width: 290px;
}
.title-3-2 {
  margin: 0 0 0 2px;
  color: #ff705b;
  font-style: italic;
  font-weight: 900;
  text-transform: uppercase;
}
.body-text-3-2 {
  margin: 34px 0 0;
  width: 276px;
  line-height: 29.16667px;
}
.button-3-holder {
  float: right;
  margin: 61px 0 0;
  min-height: 75px;
  width: 201px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background: #ff705b;
  color: #ffffff;
  font-weight: 900;
  line-height: 75px;
  text-align: center;
  text-transform: uppercase;
}
.design-4 {
  margin: 2px 0 0;
  overflow: hidden;
  padding: 310px 0 0;
  position: relative;
  width: 100%;
  z-index: 84;
  background: url(images/place_your_design_here_do_4.png) no-repeat center 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.l-constrained-3 {
  margin: 0 auto;
  padding: 0 132px;
  position: relative;
  width: 1440px;
}
.text-3 {
  position: relative;
}
.title-7 {
  display: block;
  margin: 0 auto;
}
.quote {
  margin: 52px 0 0;
  width: 1175px;
  font-style: italic;
  font-weight: 500;
  line-height: 29.16667px;
  text-align: center;
  text-transform: uppercase;
}
.name {
  display: block;
  margin: 42px auto 0;
}
.row-4 {
  margin: 35px auto 0;
  position: relative;
  text-align: center;
}
.row-4 > * {
  margin: 0 10.3px 0 0;
}
.row-4 > *:last-child {
  margin-right: 0 !important;
}
.dot-1 {
  height: 12px;
  width: 12px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #2f4959;
}

@media screen and (max-width: 320px) {
  body {
   zoom:20%;
    -moz-transform: scale(1.0); 
  -webkit-transform: scale(1.0);
  -o-transform: scale(1.0); 
  transform: scale(1.0);
    transform-origin: 0 0;
    overflow-x: hidden;
  }
  html {
    height: 100%;
  }
}
@media screen and (min-width: 1440px) {
  body {
   zoom: 95%;
   -moz-transform: scale(1.0); 
   -webkit-transform: scale(1.0);
   -o-transform: scale(1.0); 
   transform: scale(1.0);
    transform-origin: 0 0;
    overflow-x: hidden;
  }
  
  html {
    height: 100%;
  }
}
@media screen and (min-width: 1360px) and (max-width: 1440px) {
  body {
    zoom: 80%;
    -moz-transform: scale(1.0); 
    -webkit-transform: scale(1.0);
    -o-transform: scale(1.0); 
    transform: scale(1.0);
    transform-origin: 0 0;
    overflow-x: hidden;
  }
  
  html {
    height: 100%;
  }
}
@media screen and (min-width: 1260px) and (max-width: 1360px) {
  body {
    zoom: 83%;
    -moz-transform: scale(1.0); 
    -webkit-transform: scale(1.0);
    -o-transform: scale(1.0); 
    transform: scale(1.0);
    transform-origin: 0 0;
    overflow-x: hidden;
  }
  html {
    height: 100%;
  }
}
@media screen and (min-width: 1160px) and (max-width: 1260px) {
  body {
    zoom: 80%;
    -moz-transform: scale(1.0); 
    -webkit-transform: scale(1.0);
    -o-transform: scale(1.0); 
    transform: scale(1.0);
    transform-origin: 0 0;
    overflow-x: hidden;
  }
 
  html {
    height: 100%;
  }
}
@media screen and (min-width: 1060px) and (max-width: 1160px) {
  body {
    zoom: 70%;
    -moz-transform: scale(1.0); 
    -webkit-transform: scale(1.0);
    -o-transform: scale(1.0); 
    transform: scale(1.0);
    transform-origin: 0 0;
    overflow-x: hidden;
  }
  html {
    height: 100%;
  }
}
@media screen and (min-width: 960px) and (max-width: 1060px) {
  body {
    zoom: 65%;
    -moz-transform: scale(1.0); 
  -webkit-transform: scale(1.0);
  -o-transform: scale(1.0); 
  transform: scale(1.0);
    transform-origin: 0 0;
    overflow-x: hidden;
  }

  html {
    height: 100%;
  }
}
@media screen and (min-width: 860px) and (max-width: 960px) {
  body {
    zoom: 63%;
    -moz-transform: scale(1.0); 
    -webkit-transform: scale(1.0);
    -o-transform: scale(1.0); 
    transform: scale(1.0);
    transform-origin: 0 0;
    overflow-x: hidden;
  }

  html {
    height: 100%;
  }
}
@media screen and (min-width: 760px) and (max-width: 860px) {
  body {
    zoom: 55%;
    -moz-transform: scale(1.0); 
  -webkit-transform: scale(1.0);
  -o-transform: scale(1.0); 
  transform: scale(1.0);
    transform-origin: 0 0;
    overflow-x: hidden;
  }
 
  html {
    height: 100%;
  }
}
@media screen and (min-width: 660px) and (max-width: 768px) {
  body {
    zoom: 50%;
    -moz-transform: scale(1.0); 
    -webkit-transform: scale(1.0);
    -o-transform: scale(1.0); 
    transform: scale(1.0);
    transform-origin: 0 0;
    overflow-x: hidden;
  }
  html {
    height: 100%;
  }
}
@media screen and (min-width: 560px) and (max-width: 660px) {
  body {
    zoom: 42%;
    -moz-transform: scale(1.0); 
    -webkit-transform: scale(1.0);
    -o-transform: scale(1.0); 
    transform: scale(1.0);
    transform-origin: 0 0;
    overflow-x: hidden;
  }
  html {
    height: 100%;
  }
}
@media screen and (min-width:490px) and (max-width: 560px) {
  body {
    zoom: 35%;
    -moz-transform: scale(1.0); 
  -webkit-transform: scale(1.0);
  -o-transform: scale(1.0); 
  transform: scale(1.0);
    transform-origin: 0 0;
    overflow-x: hidden;
  }
  html {
    height: 100%;
  }
}
@media screen and (min-width:320px) and (max-width: 490px) {
  body {
    zoom: 25%;
    -moz-transform: scale(1.0); 
  -webkit-transform: scale(1.0);
  -o-transform: scale(1.0); 
  transform: scale(1.0);
    transform-origin: 0 0;
    overflow-x: hidden;
  }
  html {
    height: 100%;
  }
}

@media screen and (min-width:145px) and (max-width: 320px) {
  body {
    zoom: 10%;
    -moz-transform: scale(1.0); 
  -webkit-transform: scale(1.0);
  -o-transform: scale(1.0); 
  transform: scale(1.0);
    transform-origin: 0 0;
    overflow-x: hidden;
  }
  html {
    height: 100%;
  }
}
.dot-2 {
  height: 12px;
  width: 12px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.27);
}
.dot-3 {
  height: 12px;
  width: 12px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.27);
}
.row-4 > * {
  display: inline-block;
  vertical-align: top;
}
.place-your-design-here-double-click-to-edit-7 {
  display: block;
  margin: 140px 0 0 89px;
  position: relative;
}
.group-5 {
  margin-top: 50px;
  padding: 0 86px;
  position: relative;
  width: 1440px;
  z-index: 62;
}
.title-8 {
  display: block;
  margin: 0 auto;
}
.subtitle-3 {
  margin: 27px 0 0;
  font-style: italic;
  text-align: center;
  text-transform: uppercase;
}
.image-2 {
  margin: 74px 0 0 33px;
  position: relative;
}
.image-2 > * {
  float: left;
  margin: 0 70px 0 0;
}
.image-2 > *:last-child {
  margin-right: 0 !important;
}
.row-3 {
  margin: 51px auto 0;
  position: relative;
  width: 1205px;
}
.col-9 {
  float: left;
  position: relative;
  width: 332px;
}
.coach-1 {
  color: #ff705b;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}
.coach-text-1 {
  margin: 20px auto 0;
  line-height: 29.16667px;
  text-align: center;
}
.col-10 {
  float: left;
  margin: 0 0 0 99px;
  position: relative;
  width: 332px;
}
.coach-2 {
  color: #ff705b;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}
.coach-text-2 {
  margin: 20px auto 0;
  line-height: 29.16667px;
  text-align: center;
}
.col-11 {
  float: left;
  margin: 0 0 0 110px;
  position: relative;
  width: 332px;
}
.coach-3 {
  color: #ff705b;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}
.coach-text-3 {
  margin: 20px auto 0;
  line-height: 29.16667px;
  text-align: center;
}
.image-3 {
  margin: 45px 0 0;
  padding: 130px 0 279px;
  position: relative;
  width: 100%;
  z-index: 47;
  background: url(images/place_your_image_here_dou.png) no-repeat 4px 0;
}
.l-constrained-2 {
  margin: 0 auto;
  padding: 0 181px;
  position: relative;
  width: 1440px;
}
.title-9 {
  display: block;
  margin: 0 0 0 31px;
  position: relative;
}
.body-text-5 {
  margin: 29px 0 0 26px;
  width: 419px;
  font-style: italic;
  line-height: 29.16667px;
  text-transform: uppercase;
}
.place-your-image-here-double-click-to-edit-5 {
  display: block;
  margin: 38px 0 0;
  position: relative;
}
.button-holder-3 {
  margin: 57px 0 0 124px;
  min-height: 75px;
  position: relative;
  width: 276px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background: #ff705b;
  color: #ffffff;
  font-size: 25px;
  font-weight: 900;
  line-height: 75px;
  text-align: center;
  text-transform: uppercase;
}
.group-7 {
  margin: 62px auto 0;
  overflow: hidden;
  position: relative;
  width: 1440px;
  z-index: 28;
}
.text-4 {
  margin: 0 0 0 130px;
  position: relative;
  width: 1175px;
}
.title-10 {
  display: block;
  margin: 0 auto;
}
.subtitle-4 {
  margin: 27px 0 0;
  font-style: italic;
  text-align: center;
  text-transform: uppercase;
}
.design-5 {
  margin: 27px 0 0 205px;
  position: relative;
}
.col-2 {
  float: left;
  margin: 23px 87px 0 0;
  position: relative;
  width: 1032px;
  z-index: 0;
}
.col {
  margin: 0 0 0 3px;
  min-height: 520px;
  overflow: hidden;
  padding: 94px 0 92px;
  position: relative;
  width: 1029px;
  z-index: 30;
  border: 3px solid #ff705b;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.form {
  display: table;
  margin: 0 auto;
  position: relative;
}
.shape-1-holder {
  min-height: 63px;
  padding: 0 26px;
  position: relative;
  width: 659px;
  background: url(images/shape_2.png) no-repeat;
}
.text-5 {
  opacity: 0.68;
}
.text-5 > * {
  color: #54524f;
  font-size: 25px;
  line-height: 63px;
}
.shape-2-holder {
  margin: 52px 0 0;
  min-height: 63px;
  padding: 0 28px;
  position: relative;
  width: 659px;
  background: url(images/shape_2.png) no-repeat;
}
.text-6 {
  opacity: 0.68;
}
.text-6 > * {
  color: #54524f;
  font-size: 25px;
  line-height: 63px;
}
.button-holder-4 {
  margin: 75px auto 0;
  min-height: 75px;
  width: 276px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background: #ff705b;
  color: #ffffff;
  font-size: 25px;
  font-weight: 900;
  line-height: 75px;
  text-align: center;
  text-transform: uppercase;
}
.place-your-design-here-double-click-to-edit-8 {
  display: block;
  margin: -194px 0 0;
  position: relative;
  z-index: 28;
}
.place-your-design-here-double-click-to-edit-9 {
  float: left;
}
.design-6 {
  margin: -257px 0 0;
  padding: 297px 0 186px;
  position: relative;
  width: 100%; 
  z-index: 6;
  background: url(images/place_your_design_here_do.png) no-repeat center 0;
  background-position: center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.text-7 {
  margin: 0 auto;
  padding: 0 63px 0 87px;
  position: relative;
  width: 100%;
  align-items: left;
  justify-content: flex-start;
}
.col-7 {
  float: left;
  position: relative;
  width: 414px;
  margin-top: 15px;
}
.title-11 {
  display: block;
  position: relative;
}
.body-text-6 {
  margin: 38px 0 0;
  width: 414px;
  color: #ffffff;
  font-size: 25px;
  font-weight: 300;
  letter-spacing: 0.05em;
  line-height: 29.16667px;
}
.col-8 {
  float: left;
  position: relative;
  width: 305px;
  margin-top: 40px;
}
.title-explore {
  display: block;
  position: relative;
}
.list-explore {
  margin: 38px 0 0;
  width: 305px;
  color: #ffffff;
  font-weight: 600;
  letter-spacing: 0.075em;
  line-height: 37.49999px;
  text-transform: uppercase;
}
.col-6 {
  float: left;
  margin-top: 40px;
  position: relative;
  width: 421px;
}
.title-contact-us {
  display: block;
  position: relative;
}
.adress {
  margin: 32px 0 0;
  width: 421px;
  color: #ffffff;
  font-weight: 300;
  letter-spacing: 0.01em;
  line-height: 37.49999px;
  text-transform: uppercase;
}
.social-media {
  margin: 39px 0 0;
  position: relative;
  width: 175px;
}
.icon {
  position: relative;
}
.icon > * {
  float: left;
  margin: 0 14.13px 0 0;
}
.icon > *:last-child {
  margin-right: 0 !important;
}
.fw900 {
  font-weight: 900;
}

.searchbar{
  float: none;
  padding: 8px;
  position: relative;
  width: 96px;
  height: 35px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background: #7fcbd700;
}

@media screen and (max-width:768px) {
  .row {
    margin: 80px auto 0;
    position: relative;
    width: 1176px;
    float: right;
    left: 500px;
    display: flex;
    bottom: 800px;
    flex-direction: column;
}
.design-2 {
  
  margin: 100px auto 0;
  position: relative;
  text-align: center;
  display: flex;
  right: 200px;
  align-items: center;
    flex-direction: column;
}
.row-7 {
  left: 250.5px;
  margin: 125px auto 0;
  position: relative;
  width: fit-content;
  display: flex;
  flex-direction: column;
}
.row-6 {
  left: 198px;
  margin: 111px auto 0;
  position: relative;
  width: 596px;
  display: flex;
  flex-direction: column-reverse;
}
.row-5 {
  left: 550.5px;
  bottom: 500px;
  margin: 112px auto 0;
  position: relative;
  width: 553px;
  display: flex;
  flex-direction: column;
}
.image-2 {
  margin: 74px 0 0 33px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.row-3 {
  margin: 51px auto 0;
  position: relative;
  width: 1205px;
  left: 500px;
  bottom: 1000px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.col-9 {
  float: left;
  position: relative;
  width: 332px;
  margin: 50px;
  bottom: 182px;
}
.design-6 {
  margin: -257px 0 0;
  padding: 297px 0 186px;
  position: relative;
  
  width: 100%;
  z-index: 6;
  bottom: 300px;
  background: url(images/place_your_design_here_do.png) no-repeat center 0;
  background-position: center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.background {
  height: 9000px;
  position: relative;
  z-index: 0;
  background: #e0e0e0 center 0;
  background-position: center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
html,body {
  overflow-x: hidden;
}
.group-7 {
  margin: 62px auto 0;
  overflow: hidden;
  position: relative;
  width: 1440px;
  z-index: 28;
  bottom: 400px;
}
.image-3 {
  margin: 45px 0 0;
  padding: 130px 0 279px;
  position: relative;
  width: 100%;
  z-index: 47;
  bottom: 500px;
  background: url(images/place_your_image_here_dou.png) no-repeat 4px 0;
}
.text-7{
  display: flex;
  flex-direction: column;
  font-size: xx-large;
}

.col-10 {
  float: left;
  margin: 50px;
  position: relative;
  width: 332px;
  bottom: 50px;
}
.col-11 {
  float: left;
  margin:50px;
  top: 150px;
  position: relative;
  width: 332px;
}
.group-3-2 {
  height: 1434px;
  left: 10px;
  top: 200px;
  margin: 69px auto 0;
  position: relative;
  width: 1420px;
}
.design-2 > * {
  display: inline-block;
  vertical-align: top;
  margin: 50px;
}
.image {
  left: 0;
  padding: 0px 0 137px;
  position: absolute;
  top: 98px;
  width: 100%;
  background: url(images/place_your_image_here_dou_7.png) no-repeat center 0;
  background-position: center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
}
.menu-btn {
  display: none; /* Show menu button */
}
/* Responsive design */
@media screen and (max-width: 668px) {
  nav {
    flex-direction: row;
    
  }

  .search-box {
    margin: 10px 0;
  }

  .menu-btn {
    height: 70px;
    width: 70px;
    margin-left: 20%;
    z-index: 10;
    margin-top: 10px;
    float: left;
    display: block; /* Show menu button */
  }

  nav ul {
    
    display: none; /* Hide menu by default */
  }

  nav ul.show {
    
    display: flex; /* Show menu when toggled */
  }
  .social-media {
    float: right;
    margin: 28px 0 0;
    position: relative;
    width: 144px;
    display: none;
}}
